name: Build fonts

on: workflow_dispatch

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - name: Clone src repository
        run: git clone https://github.com/subframe7536/maple-font --depth 1 -b variable
      - name: Install dependencies
        run: |
          cd maple-font
          pip install -r requirements.txt
      - name: Build Maple font
        run: |
          cd maple-font
          ./build.py --feat cv03,cv09,cv10,cv42,cv43,cv66,ss07,ss08,ss09,ss10,ss11,zero --nf --liga --remove-tag-liga --infinite-arrow --archive
      - name: Add fonts to release
        run: |
          mkdir -p maple-nf
          cp -r maple-font/fonts/archive/* ./maple-nf
          install="./maple-nf/MapleMono-NF* ./maple-nf/MapleMono-OTF* ./maple-nf/MapleMono-Woff2*"
          gh release delete "Fonts" --yes 2>/dev/null || true # no old releases
          gh release create "Fonts" $install --title "Maple Mono NF" --notes-file .github/fonts.md
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
